In [1]:
print("Hello")

Hello

In [26]:
fruit='orange '
fruit*3

'orange orange orange '

In [9]:
def addnum(a,b):
    return a+b

In [10]:
addnum(30,20)

50

In [20]:
def mul(a,b):
    return a*b
print(mul(5,3))

15

In [21]:
import math
math.sin(30)

-0.9880316240928618

In [1]:
bin(10)

'0b1010'

In [2]:
age = '10'
type(age)

str

In [3]:
int(age)

10

In [4]:
type(age)

str

In [ ]:
int(age)*3

30

In [ ]:
def helloname():
    name = input("what is your name\n")
    print("Hello", name)

Hello lok

In [16]:
helloname()

Hello anshu

In [23]:
# The name is included as parameter
def helloname(name):
    print("Hello", name)

helloname('Akhilesh') # Let us see what is the output
helloname(4)

Hello Akhilesh
Hello 4